{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}文章列表 - 青木{% endblock %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>文章</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
<section>
	<div class="wp">
		<div class="list" style="margin-top:0;">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li {% if sort == '' %}class="active">{% endif %}<a href="?sort=">最新文章 </a></li>
						<li {% if sort == 'hot' %}class="active">{% endif %}><a href="?sort=hot">最多收藏</a></li>
						<li {% if sort == 'readers' %}class="active">{% endif %}><a href="?sort=readers">最多阅读</a></li>
					</ul>
				</div>
                <div id="inWindow">
                    <div class="tab_cont " id="content">
					<div class="group_list">

                        {% for article in all_articles.object_list %}
                            <div class="box">
                            <a href="{% url 'articles:article_detail' article.id %}">
                                <img width="280" height="350" class="scrollLoading" src="{{ MEDIA_URL }}{{ article.image }}"/>
                            </a>
                            <div class="des">
                                <a href="{% url 'articles:article_detail' article.id %}">
                                    <h2>{{ article.name }}</h2>
                                </a>
                                <span class="fl">预计阅读时长：<i class="key">{{ article.read_times }}</i></span>
                                <span class="fr">阅读人数：{{ article.readers }}&nbsp;&nbsp;</span>
                            </div>
                            <div class="bottom">
                                <a href="{% url 'articles:article_detail' article.id %}"><span class="fl">来自{{ article.article_org }}</span></a>
                                <span class="star fr  notlogin" data-favid="15">{{ article.fav_nums }}</span>
                            </div>
                        </div>
                        {% endfor %}

					</div>
                    <div class="pageturn">
                        <ul class="pagelist">

                            {% if all_articles.has_previous %}
                                <li class="long"><a href="?{{ all_articles.previos_page_number.querystring }}">上一页</a></li>
                            {% endif %}

                            {% for page in all_articles.pages %}
                                {% if page %}
                                    {% ifequal page all_articles.number %}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li class="none"><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if all_articles.has_next %}
                                <li class="long"><a href="?{{ all_articles.next_page_number.querystring }}">下一页</a></li>
                            {% endif %}

                        </ul>
                    </div>
				</div>
                </div>
			</div>
			<div class="right layout">
				<div class="head">热门文章推荐</div>
				<div class="group_recommend">
                    {% for hot_article in hot_articles %}
                        <dl>
						<dt>
							<a target="_blank" href="">
								<img width="240" height="220" class="scrollLoading" src="{{ MEDIA_URL }}{{ hot_article.image }}"/>
							</a>
						</dt>
						<dd>
							<a target="_blank" href=""><h2> {{ hot_article.name }}</h2></a>
							<span class="fl">文章长度：<i class="key">{{ hot_article.get_art_len_display }}</i></span>
						</dd>
					</dl>
                    {% endfor %}

				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}