{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}青木 - 文学爱好者聚集地{% endblock %}

{% block custom_bread %}{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}

{% block content %}
    <!--crumbs start-->
    <div class="banner">
        <div class="wp">
            <div class="fl">
                <div class="imgslide">
                    <ul class="imgs">
                        {% for banner in all_banners %}
                        <li>
                            <a href="{{ banner.url }}">
                                <img width="1200" height="478" src="{{ MEDIA_URL }}{{ banner.image }}" />
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="unslider-arrow prev"></div>
                <div class="unslider-arrow next"></div>
            </div>

            </div>

    </div>
	<section>
		<div class="wp">
		</div>
	</section>
	<section>
		<div class="module">
			<div class="wp">
				<h1>文章列表</h1>
				<div class="module1 eachmod">
					<div class="module1_1 left">
						<img width="228" height="614" src="/static/images/module1_1.jpg"/>
						<p class="fisrt_word">优秀文章<br/></p>
						<a class="more" href="{% url 'articles:article_list' %}">查看更多文章 ></a>
					</div>
                    <div class="right group_list">
                        <div class="module1_2 box">
                            <div class="imgslide2">
                                <ul class="imgs">
                                    {% for banner_article in banner_articles %}
                                    <li>
                                        <a href="{% url 'articles:article_detail' banner_article.id %}">
                                            <img width="470" height="300" src="{{ MEDIA_URL }}{{ banner_article.image }}"/>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="unslider-arrow2 prev"></div>
                            <div class="unslider-arrow2 next"></div>
                        </div>
                        {% for article in articles %}
                            <div class="module1_{{ forloop.counter|add:2 }} box">
                                <a href="{% url 'articles:article_detail' article.id %}">
                                    <img width="233" height="190" src="{{ MEDIA_URL }}{{ article.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'articles:article_detail' article.id %}">
                                        <h2 title="{{ article.name }}">{{ article.name }}</h2>
                                    </a>
                                    <span class="fl">长度：<i class="key">{{ article.get_art_len_display }}</i></span>
                                    <span class="fr">阅读人数：{{ article.readers }}</span>
                                </div>
                                <div class="bottom">
                                    <span class="fl" title="{{ article.article_org.name }}">{{ article.article_org.name }}</span>
                                    <span class="star fr">{{ article.fav_nums }}</span>
                                </div>
                            </div>
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="module greybg">
			<div class="wp">
				<h1>组织机构</h1>
				<div class="module3 eachmod">
					<div class="module3_1 left">
						<img width="228" height="350" src="/static/images/module3_1.jpg"/>
						<p class="fisrt_word">优秀组织<br/></p>
						<a class="more" href="{% url 'org_list' %}">查看更多组织 ></a>
					</div>
					<div class="right">
						<ul>
                            {% for org in article_orgs %}

                                <li class="{% if forloop.counter|divisibleby:5 %}five{% endif %}">
                                    <a href="{% url 'org_home' org.id %}">
                                        <div class="company">
                                            <img width="184" height="100" src="{{ MEDIA_URL }}{{ org.image }}"/>
                                        </div>
                                        <p><span class="key" title="{{ org.name }}">{{ org.name }}</span></p>
                                    </a>
                                </li>
                            {% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}