{% extends 'usercenter-base.html' %}
{% block title %}个人信息-青木{% endblock %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'users:user_info' %}">个人中心</a>></li>
                <li>投稿</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block right_content %}
    <div class="right">
		<div class="personal_des ">
			<div class="head" style="border:1px solid #eaeaea;">
				<h1>投稿</h1>
			</div>
			<div class="inforcon">
				<form class="perinform" enctype="multipart/form-data" method="post" id="jsEditArticleForm" autocomplete="off" action="{% url 'users:postpassage_post' %}">
					<ul class="postpass">
						<li>用户名称：
                           <input class="borderno" type="text" name="nick_name" id="nick_name" readonly="readonly" value="{{ request.user.nick_name }}" maxlength="10">
                            <i class="error-tips"></i>
                        </li><br/>
                        <li>E&nbsp;&nbsp;-&nbsp;&nbsp;mail&nbsp;：
                        	<input class="borderno" type="text" name="email" id="email" readonly="readonly" value="{{ request.user.email }}"/>
                    	</li><br/>
                        <li>文章名称：
                            <input type="text" name="article_name" id="article_name" placeholder="请输入文章名称" value="" maxlength="20">
                        </li><br/>
                        <li>文章封面：
                            <input type="file" name="image" />
                        </li><br/>
                        <li>文章简介：
                            <input type="text" name="desc" id="desc" placeholder="请输入文章简介" value="" maxlength="100">
                        </li><br/>
                        <li>文章详情：
                            <input type="text" name="detail" id="detail" placeholder="请输入文章详情" value="" maxlength="100">
                        </li><br/>
                        <li>文章长度：
							<label><input type="radio"  name="gender" value="male" {% if request.user.gender == 'male' %} checked="checked"{% endif %}>短篇</label>
							<label><input type="radio" name="gender" value="female" {% if request.user.gender == 'female' %} checked="checked"{% endif %}>中篇</label>
                            <label><input type="radio" name="gender" value="female" {% if request.user.gender == 'female' %} checked="checked"{% endif %}>长篇</label>
						</li><br/>
                        <li>预计时长：
                            <input type="text" name="read_times" id="read_times" placeholder="请输入预计阅读时长（分钟）" value="" maxlength="10">
                        </li><br/>
                        <li>文章类别：
                            <input type="text" name="category" id="category" placeholder="请输入文章类别" value="" maxlength="20">
                        </li><br/>
                        <li>文章标签：
                            <input type="text" name="tag" id="tag" placeholder="请输入文章标签" value="" maxlength="20">
                        </li><br/>
                        <li>文章作者：
                            <input type="text" name="author" id="author" placeholder="请输入文章作者" value="" maxlength="10">
                        </li><br/>
                        <li>所属组织：
                            <input type="text" name="article_org" id="article_org" placeholder="请输入作者组织" value="" maxlength="20">
                        </li><br/>
                        <label><li>作者想说：
                            <input type="text" name="youneed_know" id="youneed_know" placeholder="请输入作者想说的话" value="" maxlength="50">
                        </li></label><br/>
                        <label><li>文章章节：
                            <input type="text" name="lesson" id="lesson" placeholder="请输入文章章节" value="" maxlength="50">
                        </li></label><br/>
                        <li>文章内容：
                            <textarea type="text" name="content" id="content" style="height: 500px;width: 600px;vertical-align: top" placeholder="输入文章内容"></textarea>
{#                            <input type="text" name="content" id="content" placeholder="请输入文章内容" value="" maxlength="" style="height: 800px;width: 600px">#}
                        </li><br/>
                        <li>
							<input type="button" id="jsUserPostBtn" value="提交">
						</li>
					</ul>
                    <input type='hidden' name='csrfmiddlewaretoken' value='799Y6iPeEDNSGvrTu3noBrO4MBLv6enY' />
                {% csrf_token %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">

    $('#jsUserPostBtn').on('click', function(){
        var nick_name = $("#nick_name").val();
        var email = $("#email").val();
        var article_name = $("#article_name").val();
        var desc = $("#desc").val();
        var detail = $("#detail").val();
        var read_times = $("#read_times").val();
        var category = $("#category").val();
        var tag = $("#tag").val();
        var author = $("#author").val();
        var youneed_know = $("#youneed_know").val();
        var content = $("#content").val();
        var lesson = $("#lesson").val();

        if(content == ""){
            alert("内容不能为空")
            return
        }
        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'users:postpassage_post' %}",
            data:{'content':content,'nick_name':nick_name,'email':email,'article_name':article_name,
                'desc':desc,'detail':detail,'read_times':read_times,'category':category,'tag':tag,'author':author,
                'youneed_know':youneed_know,'lesson':lesson},
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                if(data.status == 'fail'){
                    alert(data.msg)
                    }else if(data.status == 'success'){
                    window.location.reload();//刷新当前页面.
                }
            },
        });
    });

</script>
{% endblock %}